@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #1c1c1e;
        --foreground: #f4f4f9;

        --card: #3a8f07;
        --card-foreground: #d4f9fc;

        --popover: #3a8f07;
        --popover-foreground: #d4f9fc;

        --primary: #2f474d;
        --primary-foreground: #f4f4f9;

        --secondary: #b9dad9;
        --secondary-foreground: #1c1c1e;

        --muted: #f4f4f950;
        --muted-foreground: #db1a9f;

        --accent: #f4f4f950;
        --accent-foreground: #f4f4f9;

        --destructive: #003f4e;
        --destructive-foreground: #d4f9fc;

        --border: #f4f4f95b;
        --input: #f4f4f9;
        --ring: transparent;

        --radius: 10px;

        --debug: #bf34a8;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background font-k2d text-foreground;
    }
    h3 {
        @apply mb-20 font-cyborg text-3xl leading-normal drop-shadow-md md:text-6xl md:leading-normal;
    }

    h5 {
        @apply font-cyborg text-xl leading-normal drop-shadow-md;
    }

    li {
        @apply mb-2 text-lg;
    }

    .grid-template {
        @apply m-auto grid max-w-[1680px] grid-cols-4 gap-5 px-4 md:grid-cols-8 md:px-20;
    }
}

html {
    font-family:
        helvetica neue,
        helvetica,
        -apple-system,
        BlinkMacSystemFont,
        avenir next,
        avenir,
        Cantarell,
        Ubuntu,
        roboto,
        noto,
        arial,
        sans-serif;
    letter-spacing: 0.1em;
    line-height: 1.3;

    --first-color: 18, 113, 255;
    --second-color: 221, 74, 255;
    --third-color: 100, 220, 255;
    --fourth-color: 200, 50, 50;
    --fifth-color: 180, 180, 50;
    --pointer-color: 140, 100, 255;
    --size: 120%;
}

h1,
h2,
h3,
h4,
a,
p,
li,
span {
    width: fit-content;
    position: relative;
    pointer-events: auto;
}

address {
    font-style: normal;
}

.project-details p {
    font-size: 1.125rem;
    line-height: 1.5;
}
.project-details li {
    list-style-type: disc;
    margin-left: 1rem;
}
.project-details b {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* custom class  */
span.highlight {
    @apply bg-clip-text text-transparent;
    background: linear-gradient(90deg, #00cdda, #ad00ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}

.name-horizontal {
    position: absolute;
    right: 0;
    bottom: 0em;
    transform: rotate(-90deg) translate(100%, -100%);
    transform-origin: right center;
}

.mouse {
    width: 26px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid white;
    position: relative;
    overflow: hidden;
    margin-top: 40px;
}
.mouse .roll {
    position: absolute;
    top: 8px;
    left: 50%;
    width: 4px;
    margin-left: -2px;
    height: 4px;
    border-radius: 4px;
    background: white;
    -webkit-animation: mouseScroll 0.8s cubic-bezier(0.7, 0, 0.3, 1) infinite
        alternate;
    animation: mouseScroll 0.8s cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
    z-index: 2;
}
.mouse .rollshadow {
    position: absolute;
    top: 8px;
    left: 50%;
    width: 4px;
    margin-left: -2px;
    height: 4px;
    background: #aaa;
    border-radius: 4px;
    -webkit-animation: mouseScroll 0.8s cubic-bezier(0.7, 0, 0.3, 1) infinite
        alternate;
    animation: mouseScroll 0.8s cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
    animation-delay: 0s;
    -webkit-animation-delay: 80ms;
    animation-delay: 80ms;
    z-index: 1;
}
@-webkit-keyframes mouseScroll {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(14px);
        transform: translateY(14px);
    }
}
@keyframes mouseScroll {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(14px);
        transform: translateY(14px);
    }
}
