@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #1c1c1e;
        --foreground: #faf9f6;

        --card: #3a8f07;
        --card-foreground: #d4f9fc;

        --popover: #3a8f07;
        --popover-foreground: #d4f9fc;

        --primary: #dedede;
        --primary-foreground: #e0a32b;

        --secondary: #d7c2a9;
        --secondary-foreground: #d4f9fc;

        --muted: #d7c2a9;
        --muted-foreground: #db1a9f;

        --accent: #d7c2a9;
        --accent-foreground: #d4f9fc;

        --destructive: #003f4e;
        --destructive-foreground: #d4f9fc;

        --border: #d7c2a9;
        --input: #d7c2a9;
        --ring: hsl(197, 66%, 53%);

        --debug: #ff007a;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

html {
    font-family:
        segoe ui,
        helvetica neue,
        helvetica,
        -apple-system,
        BlinkMacSystemFont,
        avenir next,
        avenir,
        Cantarell,
        Ubuntu,
        roboto,
        noto,
        arial,
        sans-serif;
}
.goldman-bold {
    font-family: "Goldman", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.goldman-regular {
    font-family: "Goldman", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* @TODO this using for crazy mode feature */
.kablammo-regular {
    font-family: "Kablammo", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "MORF" 0;
}
