@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #1c1c1e;
        --foreground: #f4f4f9;

        --card: #3a8f07;
        --card-foreground: #d4f9fc;

        --popover: #3a8f07;
        --popover-foreground: #d4f9fc;

        --primary: #2f474d;
        --primary-foreground: #f4f4f9;

        --secondary: #b9dad9;
        --secondary-foreground: #1c1c1e;

        --muted: #d7c2a9;
        --muted-foreground: #db1a9f;

        --accent: #d7c2a9;
        --accent-foreground: #d4f9fc;

        --destructive: #003f4e;
        --destructive-foreground: #d4f9fc;

        --border: #d7c2a9;
        --input: #d7c2a9;
        --ring: hsl(197, 66%, 53%);

        --radius: 10px;

        --debug: #ff007a;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background font-k2d text-foreground;
    }
    h3 {
        @apply mb-20 font-goldman text-6xl;
    }

    li {
        @apply mb-2 text-lg;
    }

    .grid-template {
        @apply grid grid-cols-8 gap-5 px-20;
    }
}

html {
    font-family:
        helvetica neue,
        helvetica,
        -apple-system,
        BlinkMacSystemFont,
        avenir next,
        avenir,
        Cantarell,
        Ubuntu,
        roboto,
        noto,
        arial,
        sans-serif;
}

h1,
h2,
h3,
h4,
a,
p,
li,
span {
    width: fit-content;
    position: relative;
    pointer-events: auto;
}

address {
    font-style: normal;
}

/* @TODO this using for crazy mode feature */
.crazy {
    font-optical-sizing: auto;
    font-variation-settings: "MORF" 0;
}

span.highlight {
    @apply bg-clip-text text-transparent;
    background: linear-gradient(90deg, #00cdda, #ad00ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}
